<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Home</h1>
    <a href="/realTimeProducts">Administrar Productos</a>
    <h2>Lista de todos los productos agregados hasta el momento:</h2>
    <div id="product-list">
        <!-- DIV PARA RENDERIZAR PRODUCTOS -->
    </div>
    <script src="/clientHome.js"></script>
</body>
</html>