<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>{{title}}</title>
      <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
      <h1>Main handlebars</h1>
      <a href="/">Mostrar todos los productos</a> /-/ 
      <a href="/realTimeProducts">Administrar productos</a> /-/ 
      <a href="/cart">Carrito del cliente</a>

      {{{body}}}
</body>

</html>